@import url('https://fonts.googleapis.com/css?family=Work+Sans:500&display=swap');

.App{
   
}
.mainContainer {
    height: 800px;
    width: 100%;
    position: relative; 
}

.gMap{
    width: 100%; 
    height: 100%; 
    position: relative; 
    z-index: 0}

.search {
    font-family: 'Work Sans', ;
    font-size: 60px;
    text-align: center;
    position: absolute;  
    z-index: 99; 
    margin: 0 auto; 
    left: 400px;
}

.searchInput {
    width: 1000px;
    height: 50px;
    border-radius: 25px;
    border: none;
    opacity:0.9;
    padding-left: 20px;
    font-size: 20px;;
}

.searchButton {
    size: 50px;
    border: none;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    background-color:rgb(255,255,255);
    opacity:0.9;
}

.stations {
    position: absolute; 
    z-index: 99;
}



